<!DOCTYPE html>
<html lang="en">
<head>
  <% if($model.metas) { %>
    <%- await include('./structure.ejs', {
      structure: $model.metas
    }, { async: true }) %>
  <% } %>
  <title><%= $model.title %></title>
  <% if($model.styles) { %>
    <%- await include('./structure.ejs', {
      structure: $model.styles
    }, { async: true }) %>
  <% } %>
</head>
<body>
  <% if($model.structure) { %>
    <%- await include('./structure.ejs', {
      structure: $model.structure
    }, { async: true }) %>
  <% } %>
  <% if($model.scripts) { %>
    <%- await include('./structure.ejs', {
      structure: $model.scripts
    }, { async: true }) %>
  <% } %>
</body>
</html>